@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideout {
    0% {
        left: 0%
    }

    100% {
        left: 100%;
    }
}

.slideout {
    animation-name: slideout;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #8888886b;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(193, 171, 255, 1);
}

#topics::-webkit-scrollbar {
    display: none;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color200ms;
}